<header>
  <h1>Job Latency for <%= display_date(@date.first) %> (in ms)</h1>

  <%= form_with url: active_insights.jobs_latency_redirection_path, method: :get do |f| %>
    <%= f.date_field :date, max: Date.current, onchange: "this.form.submit()", class: "datepicker", value: @date.first.to_date %>
    <% f.submit "submit", class: "hidden" %>
  <% end %>
</header>

<div class="p-16px">
  <%= column_chart @latencies, height: "400px", colors: ["#C00"], library: {
    borderSkipped: true, barPercentage: 1, categoryPercentage: 1,
    plugins: { tooltip: { backgroundColor: 'rgb(238, 231, 233)', cornerRadius: 5, bodyColor: "#000", bodyAlign: 'center', bodyFont: { size: 20, family: "Calibre" }, titleColor: "#000", titleFont: { size: 20, family: "Calibre" } }, zoom: { zoom: { wheel: { enabled: false }, drag: { enabled: true, backgroundColor: 'rgb(238, 231, 233)' }, mode: 'x' } } },
    scales: {
      x: { border: { color: "rgb(238, 231, 233)" }, barPercentage: 1.0, grid: { color: "rgb(238, 231, 233)" }, ticks: { color: "#000", font: { size: 16, family: "Calibre" } }, autoSkip: false, display: true },
      y: { border: { color: "rgb(238, 231, 233)" }, grid: { display: false }, ticks: { font: { size: 16, family: "Calibre" }, color: "#000" }, min: (@latencies.map(&:second).min.to_f * 0.98).ceil, max: (@latencies.map(&:second).max) }
    } } %>
</div>
